$primary-brand-color: #2196f3;
$secondary-brand-color: #ffffff;
$primary-bg-color: #2f303a;
$secondary-bg-color: #f5f4fa;
$text-color: #757575;
$header-text-color: #212121;
$icon-color: #afb1b8;
$btn-hover-color: #188ce8;
